:root {
  --color-sass--primary: #fc6736;
  --color-sass--secondary: #0C2D57;
  --color-sass--terciary: #c2c2c2;
  --color-sass--background: #efecec;
  --color-sass--text: #161616; }

.nav {
  background: var(--color-sass--primary);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between; }
  .nav .main-title {
    flex-direction: row;
    align-items: center;
    padding-left: 2%; }
    .nav .main-title h1, .nav .main-title h2 {
      font-size: 1.7rem; }
    .nav .main-title h2 {
      margin-top: 0;
      margin-left: 5px; }
  .nav nav {
    margin-right: 2%;
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row; }
    .nav nav .nav-button {
      text-decoration: none;
      margin: 0 15px 0 15px; }
    .nav nav ul {
      margin-right: 2%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
    .nav nav li {
      list-style-type: none;
      margin-right: inherit; }
    .nav nav .alternative:hover {
      background: var(--color-sass--background);
      color: var(--color-sass--text); }
