@import './themes.scss';
@import './variables/colors.scss';
@import './variables/breakpoints.scss';

#background-band {
    margin: 5%;
    border-radius: 30px;
    background-color: var(--color-sass--primary);
    height: 45vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 250px;
}

.circle-form {
    display: flex;
    background-color: var(--color-sass--background);
    border-radius: 100%;
    margin-left: 40%;
    box-shadow: 0 2px 15px var(--color-sass--terciary);
    justify-content: center;
    flex-direction: column;
    height: 40rem;
    position: absolute;
    width: 40rem;
    align-items: center;
    margin-top: -60vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 32%;
}


#front-page {
    margin-bottom: 18%;
    color: var(--color-sass--secondary);
    font-size: 2.3rem;
}

.main-title {
    display: flex;
    align-self: center;
    padding-left: 55px;
    font-size: 2rem;
    justify-content: center;
    flex-direction: column;

    h1 {
        margin: 0;
        color: var(--color-sass--secondary);
    }

    h2 {
        margin: 0;
        margin-left: 19px;
        margin-top: -10%;
        text-decoration: inherit;
        font-style: italic;
        font-weight: 100;
        color: var(--color-sass--background);
        font-variant: unicase;
    }
}

.subtitle {
    font-size: 0.8rem;
    color: var(--color-sass--background);
    font-weight: 300;

    h3, h4 {
        margin: 1px;
        font-weight: inherit;
    }
}

.top-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px 20px 0px 0px;
}

#get {
    width: 120px;
    margin-left: 5%;
}

.big-title {
    font-size:4rem;
}

.page-content {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}



.profiles {
    display: flex;
    justify-content: center;
    width: 75%;
  }
  
.profile {
    text-align: center;
    margin: 5%;
    cursor: pointer;

    img {
        width: 200px;
        height: auto;
        border-radius: 50%;
        filter: brightness(100%);
        transition: all 0.4s ease;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        }

        :hover {
            filter: brightness(70%);
        }
    }


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}
    
.popup-content {
    display: flex;
    background-color: var(--color-sass--background);
    width: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 35%;
    min-height: 35%;

    .close {
        align-self: flex-end;
        cursor: pointer;
        }

    .main-button {
        margin: 1%;
    }
}