body {
    margin: 0;
    padding: 0;
    background-color: #efecec;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background-band {
    margin: 5%;
    border-radius: 30px;
    background-color: #fc6736;
    height: 45vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 250px;
}

.circle-form {
    display: flex;
    background-color: #efecec;
    border-radius: 100%;
    margin-left: 40%;
    box-shadow: 0 2px 15px #c2c2c2;
    justify-content: center;
    flex-direction: column;
    height: 40rem;
    position: absolute;
    width: 40rem;
    align-items: center;
    margin-top: -60vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 32%;
}

.input-form {
    background: none;
    border: none;
    border-bottom: 1px solid #0C2D57;
    text-align: center;
    margin: 5%;
}

.main-button {
    text-decoration: none;
    min-height: 40px;
    width: 100%;
    text-align: center;
    align-self: center;
    display: flex;
    background-color: #fc6736;
    border: none;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    color: #efecec;
    font-size: medium;
    transition: 0.3s;
}

.alternative {
    background-color: #0C2D57;
    color: #efecec;
}

.main-button:hover {
    background-color: #0C2D57;
    color: #fc6736;
    cursor: pointer;
}

.alternative:hover {
    background-color: #fc6736;
    color: black;
}

#front-page {
    margin-bottom: 18%;
    color: #0C2D57;
    font-size: 2.3rem;
}

.main-title {
    display: flex;
    align-self: center;
    padding-left: 55px;
    font-size: 2rem;
    justify-content: center;
    flex-direction: column;
}

.main-title h1 {
    margin: 0;
    color: #0c2d57;
}

.main-title h1, .main-title h2 {
    margin: 0;
}

.main-title h2 {
    margin-left: 19px;
    margin-top: -10%;
    font-size: 4rem;
    text-decoration: inherit;
    font-style: italic;
    font-weight: 100;
    color: #efecec;
    font-variant: unicase;
}

.subtitle {
    font-size: 0.8rem;
    color: #efecec;
    font-weight: 300;
}

.top-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px 20px 0px 0px;
}

.subtitle h3, .subtitle h4 {
    margin: 1px;
    font-weight: inherit;
}

#get {
    width: 120px;
    margin-left: 5%;
}